# Java/Maven/Gradle
target/
!.mvn/wrapper/maven-wrapper.jar
**/*.iml
.idea/
.vscode/
.classpath
.project
.settings/
bin/
.gradle/
build/

# Quarkus
.quarkus/
.quarkus-*

# OS
.DS_Store
Thumbs.db

# Logs
*.log
hs_err_pid*

# Docker / Compose
**/.env
**/docker-save-*.tar

# Secrets
**/privateKey.pem
**/publicKey.pem
**/users.properties
**/roles.properties

# Postman local scratch
postman/*-local*.json
